<!--
    -----Restaurant Template page-----
    This page will be the teplate for every resturant that will be loaded
    from the database. It will display the resturants:
        - Name as the title
        - Type of food
        - Address
        - phone #
        - Bio
        - And picture 
    There will also be a button that will take hte user to the review page so 
    they are able to see all the reviews for that resturant. 
    ALso need to add a button that will take the user to the leave a review 
    page so they can leave a review for the given resturant.
-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="nav-bar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/allRestaurants">View All Restaurants</a></li>
                <li><a href="/review">Leave a Review</a></li>
                <li><a href="/newRestaurant">Add a Restaurant</a></li>
            </ul>
        </div>
        <h1><%= row.name %></h1>
        <ul class="restaurant-info">
            <li>Type: <%= row.food_type %></li>
            <li>Rating: <%= row.rating %></li>
            <li>Address: <%= row.address %></li>
            <li>Phone # <%= row.phone_number %></li>
            <li>Bio: <%= row.bio %></li>
        </ul>
        <div class="restaurant-picture">
            <img src="../public/photos/<%= val.picture %>">
        </div>
        <form method="post" action="/restaurant">
            <input type="text" name="name" value="<%= row.name %>" hidden>
            <input type="submit" value="View All Reviews"></button>
        </form>
    </body>
</html>